body {
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}


.header {
    background: #1F2937;
    color:white;
    margin:-10px;
    padding:20px; 
    display:flex;
    flex-direction:column;
}

.top-header{
    display:flex;
    justify-content:space-around;
}

.Logo{
    font-weight:bold;
    font-size:27px;
}
.Links, a{
    display:flex;
    text-decoration:none;
    color:white;
    gap:15px;
}

.main-text{
    margin: 50px -50px 50px 200px;
    color:#F9FAF8;
}

.awesome{
    font-size:36px;
}

.awesome-secondary{
    font-size:18px;
    color:#E5E7EB;
}

button {
    cursor:pointer;
    background-color:#3882F6;
    color:white;
    border-radius: 8px;
    border: 1px solid royalblue;
}

.sign-up-button{
    padding: 8px 30px 8px 30px;
    font-size:20px;
    font-weight:bold;
}

.website-image{
    width:400px;
    height:300px;
    margin:-200px 0px 50px 700px;
}

.box{
    border:4px solid#3882F6;
    height:150px;
    width:150px;
    border-radius:10px;
    background:white;
}

.texte{
    display:flex;
    justify-content:center;
    margin:60px 0px 40px 0px;
    font-weight:900;
    font-size:30px;
    color: #1F2937;
}

.container{
    display:flex;
    justify-content:center;
    gap:12px;
}

.text{
    color:#a4a6a9;
    margin-bottom: 120px;
}

.info{
    max-width:200px;
}

.quote-section{
    background:#E5E7EB;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    padding:80px;
    margin-bottom:160px;

}

.quote-text{
    font-size:36px;
    color:#1F2937;
    font-family:'light-italic';
}

.name-of-person{
    font-weight:700;
    margin-left:380px;
    font-size:20px;
}

.call-to-action{
    border:4px solid#3882F6;
    background-color: #3882F6;
    height:150px;
    width:1000px;
    margin: 0 auto;
    margin-bottom: 130px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.text-e{
    color:#F9FAF8;
    margin-right:240px;
}

.call{
    font-size:26px;
    font-weight:700;
}

.call-to-action-button{
    border:solid 1px #F9FAF8;
    padding:10px 45px 10px 45px;
    font-weight:bold;
    font-size:20px;
}

.footer{
    background:#1F2937;
    padding:30px 0px 30px 0px;
}

.centerer{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#F9FAF8;
}